.btn{
    border: none;
    border-radius: .8rem;
    font-size: 3rem;
    color: #fff;
    padding: 1rem 3rem;
    cursor: pointer;

    &-positive{
        background-color: #4FBD1B;
    }

    &-negative{
        background-color: #E04E10;
    }
}