.question-container{
    background-color: #fff;
    border-radius: 1rem;
    width: 90rem;
    min-height: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}